@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais opcionais */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif; /* Certifique-se que tem a fonte ou use sans-serif */
}